<!DOCTYPE html>
<html lang="en" ng-app="appController">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathExemplo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <script src="../../factories/mathFactory.js"></script>
    <script src="../../services/mathService.js"></script>
    <script src="../../controllers/appController.js"></script>
    <script src="../../controllers/eventosController.js"></script>


</head>


<body ng-controller="Principal as ctl">
    <!--coloca o apelido 'ctl' na controller chamada Principal-->

    <input type="number" ng-model="ctl.valor" placeholder="Digite um numero" ng-keyup="ctl.calcularQuadrado()">
    <button ng-click="ctl.calcularQuadrado()">Calcular quadrado</button>
    <br>
    <div ng-bind="ctl.resultado"></div>
</body>

</html>